#
## Copyright (c) 1999 PIXAR.  All rights reserved.  This program or
## documentation contains proprietary confidential information and trade
## secrets of PIXAR.  Reverse engineering of object code is prohibited.
## Use of copyright notice is precautionary and does not imply
## publication.
##
##                      RESTRICTED RIGHTS NOTICE
##
## Use, duplication, or disclosure by the Government is subject to the
## following restrictions:  For civilian agencies, subparagraphs (a) through
## (d) of the Commercial Computer Software--Restricted Rights clause at
## 52.227-19 of the FAR; and, for units of the Department of Defense, DoD
## Supplement to the FAR, clause 52.227-7013 (c)(1)(ii), Rights in
## Technical Data and Computer Software.
##
## Pixar
## 1001 West Cutting Blvd.
## Richmond, CA  94804
##
## ----------------------------------------------------------------------------
#
# quadrics.slim
#   the ui description for the  quadrics ribgen.
#
# $Revision: #1 $
#
slim 1 appearance zhangdb {
    instance dso hairRibgen $SLIMMASTER {
    	description {A RIB Generator that emits RIB for hair data.
	Attach to imported hair cache node.}
    subtype ribgen
	
	parameter float dice {
		label {Dice Number}
	    default 24
	}
	
	parameter float rootwidth {
		label {Root Width}
		subtype slider
		range {0 .1 0.001}
	    default 0.034
	}
	
	parameter float tipwidth {
		label {Tip Width}
		subtype slider
		range {0 .1 0.001}
	    default 0.0
	}
	
	parameter float dofmn {
		label {Depth of Field Min}
	    default 1000
	}
	
	parameter float dofmx {
		label {Depth of Field Max}
	    default 4000
	}
	
	parameter string sdepth {
		label {Scene File (per frame)}
		description {use .scene file to block hidden hair strand. Use .$F. to load every frame.}
		subtype file
		default {D:/data/mammoth/base.$F.scene}
	}
	
	parameter float fov {
		label {Angel of View (primary)}
	    default 70
	}
	
	parameter float orthow {
		label {Orthographic Width (shadow)}
	    default 2800
	}
  }
}
